.list-group-item{
  color: #555555;
}
.list-group-item:hover{
  text-decoration: none;
  background: #fafafa;
  color: #555555;
}
.home-nav-item a{
  color: #555555;
}
.home-nav-item a:hover{
  text-decoration: none;
  background: #fafafa;
  color: #555555;
}
.activeName{
  color: red!important;
}
.page-header{
  margin: 2em 0;
  border-bottom: 1px solid #f5f5f5;
}
.nav-tabs .home-nav-item{
  margin: 5px 10px;
}
